<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
      xmlns:pgd="http://typo3.org/ns/PgDev/onepager/ViewHelper" 
      data-namespace-typo3-fluid="true"> 


<f:spaceless>
    <f:for each="{content}" as="conItem">
        <f:switch expression="{conItem.data.CType}">
            <f:case value="pg_background">
                <f:render partial="ImgBg" arguments="{content: conItem}"/>
            </f:case>
            <f:case value="textpic">
                <pgd:layout name="img_pos">{conItem.data.imageorient}</pgd:layout>
                <article class="{img_pos}">
                    <f:render section="ContentElement" arguments="{conItem: conItem}" />
                </article>
            </f:case>
            <f:case value="text">
                <article class="text_only">
                    <f:render section="ContentElement" arguments="{conItem: conItem}" />
                </article>
            </f:case>
            <f:case value="html">
                <article class="plain_html">
                    <f:render section="plainHtml" arguments="{conItem: conItem}" />
                </article>
            </f:case>
        </f:switch>
    </f:for>
    
    <f:section name="ContentElement">
        <f:if condition="{conItem.files}">
            <f:for each="{conItem.files}" as="file">
                <figure class="article_figure">
                    <f:if condition="{file.link}">
                    <f:then>
                        <f:render section="imgWithLink" arguments="{file: file}" />
                    </f:then>
                    <f:else>
                        <f:render section="imgWithoutLink" arguments="{file: file}" />
                    </f:else>
                </f:if>
                </figure>
            </f:for>
        </f:if>
        <div class="article_text">
            <f:if condition="{conItem.data.header_layout} != 100">
            <f:then>
                <f:format.html><h3>{conItem.data.header}</h3></f:format.html>
            </f:then>
            </f:if>
            <f:format.html>{conItem.data.bodytext}</f:format.html>
        </div>
    </f:section>
    
    <f:section name="plainHtml">
        <f:format.raw>{conItem.data.bodytext}</f:format.raw>
    </f:section>

    <f:section name="imgWithLink">
        <f:link.external  uri="{file.link}" target="_blank">
            <f:render section="imgWithoutLink" arguments="{file: file}" />
        </f:link.external>
    </f:section>

    <f:section name="imgWithoutLink">
        <f:image image="{file}" class="article_img" width="auto" height="auto"/>
        <figcaption><f:format.stripTags>{file.description}</f:format.stripTags></figcaption>
    </f:section>
</f:spaceless>
</html>