<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:if condition="{content.files}">
        <f:for each="{content.files}" as="file">
            <div class="page_bgimg">
                <f:media file="{file}" additionalConfig="{loop: '1', autoplay: '1'}" />
            </div>
        </f:for>
    </f:if>
</f:spaceless>
</html>
