<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
	xmlns:pgd="http://typo3.org/ns/PgDev/onepager/ViewHelper" 
	data-namespace-typo3-fluid="true">
<f:spaceless>
	<nav>
		<ul class="nav-list">
			<f:for each="{mainMenu}" as="item">
				<li class="nav-item">
					<f:if condition="{item.data.doktype} == 3">
						<f:then>
							<a class="nav-link" href="{item.link}" target="{item.target}">&#10138; {item.title} &#10138;</a>
						</f:then>
						<f:else>
							<a class="nav-link" href="#<pgd:removeChar string2clean="{item.data.slug}" char2remove="/" />_{item.data.uid}">{item.title}</a>
						</f:else>
					</f:if>
				</li>
			</f:for>
		</ul>
		<button class="hamburger">
			<div class="bar1"></div>
			<div class="bar2"></div>
			<div class="bar3"></div>
		</button>
	</nav>
</f:spaceless>
</html>
