:root {
    --debug-color: rgba(0,0,0,0.1);
    --pg-theme-color1: rgba(0,0,0,0.1);
    --pg-theme-color4: rgba(0,0,0,0.4);
    --pg-text-bg-color8: rgba(36, 85, 125, 0.8);;
    --pg-nav-bg-color: rgba(36, 85, 125, 1);
    --pg-mob-nav-bg-color: rgba(36, 123, 125, 1);
    --pg-nav-fg-color: white;
    --canvasWidth: 1200px;
    --pgContentPadding: 20px 0;
    --navLinkColor: #bf4b4b;
    --headBgColor: #d5f5d5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
    position: relative;
    width: 100%;
    /* 
    font-family: Arial, sans-serif;
    font-family: Verdana, sans-serif;
    font-family: "Courier New", Courier, monospace;
    font-family: Georgia;
    */
    font-family: "Helvetica Neue";
    font-weight: 300;
    color: #eeeeee;
    line-height: 1.7rem;
    scroll-behavior: smooth;
}
h2.pageTitle {
    position: relative;
    margin-top: 30px; 
    padding: 10px;
    text-align: center;
    z-index: 10;
    background-color: var(--pg-text-bg-color8);
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15;
    background-color: var(--pg-nav-bg-color);
    .align_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        width: var(--canvasWidth);
        max-width: 90%;
        margin: 0 auto;
    }
    h1 a,
    ul li a,
    ul li a:visited {
        text-decoration: none;
        color: var(--pg-nav-fg-color);
    }
    .active_link {
        border-bottom: 1px solid white;
    }
}


header h1 {
    padding: 15px 0 ;
    flex-wrap: wrap;
    font-weight: 100;
}
header ul.nav-list {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 40px;
    width: max-content;
    min-width: 40%;
    max-width: 100%;
    gap: 20px;
    list-style: none;
    background-color: var(--pg-mob-nav-bg-color);
    border-top: 1px solid #000;
    border-radius: 0 0 0 15px;
    li {
        margin-bottom: 20px;
        white-space: nowrap;
    }
}
header:has(.hamburger.active_mob_nav) ul.nav-list {
    display: block;
}
ul {
    padding-left: 1rem;
}
nav {
    display: flex;
    align-items: center;
}
.hamburger {
    position: relative;
    height: 30px;
    width: 41px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    // border: 1px solid red;
}
.hamburger .bar1,
.hamburger .bar2,
.hamburger .bar3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 0;
    transition: 0.5s;
    transform-origin: center center;
}
.hamburger { 
    .bar1 {
        top: 0;
    }
    .bar2 {
        top: calc( 50% - 1px);
    }
    .bar3 {
        top: calc( 100% - 2px);
    }
}
.hamburger.active_mob_nav {
    justify-content: center;
    align-items: center;
    .bar1 {
        top: calc( 50% - 1px);
        transform: rotate(45deg);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        top: calc( 50% - 1px);
        transform: rotate(-45deg);
    }
}
a,
a:visited{
    text-decoration: none;
    color: white;
}
div.page {
    position: relative;
    width: 100%;
    overflow: hidden;
}
a.scroll_offset {
    position: relative;
    display: block;
}
.page:nth-child(even) {
    background-color: var(--pg-theme-color1);
}
/*
.page:nth-child(odd) {
    background-color: lightblue;
} */
.page_bgimg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.page_bgimg video,
.page_bgimg img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0%;
}
article {
    display: flex;
    position: relative; /* to get z-index working */;
    z-index: 5;
    max-width: 90%;
    width: var(--canvasWidth);
    margin: 30px auto 60px auto;
    padding: 10px;
    gap: 30px;
    background-color: var(--pg-text-bg-color8);
    &.text_only,
    &.center,
    &.plain_html  {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        h2 {
            width: 100%;
            text-align: center;
        }
        iframe {
            flex: 0 1 560px;
            max-width: 100%;
        }
        p {
            max-width: 90%;
            flex: 1 0 38%;
        }
    }
    &.above,
    &.beside_text_left,
    &.in_text.float_left,
    &.beside_text_right,
    &.in_text.float_right  {
        flex-direction: column;
    }
    &.below  {
        flex-direction: column;
    }
    .article_figure img {
        display: block; /* just to remove the space between img and figcation */
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .article_text {
        order: -1;
        p:last-child::after {
            display: block;
            content: "";
            clear: both;
        }
    }

}

ul.techstack {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	gap: 15px;
	padding: 0;
	list-style: none;
    li {
        padding: 5px 20px;
        margin-bottom: 5px;
        border-radius: 10px 0;
        font-weight: 500;
        background-color: rgba(154, 205, 50, 0.5);
    }
}



