@media only screen and (min-width: 500px) {
    nav ul {
        padding: 20px 0;
    }
    article {
        &.text_only,
        &.center  {
            justify-content: center;
        }
        &.above,
        &.beside_text_left,
        &.in_text.float_left  {
            flex-direction: column;
        }
        &.below,
        &.beside_text_right,
        &.in_text.float_right  {
            flex-direction: column;
        }
    }
}