@media only screen and (min-width: 768px) {
    header ul.nav-list {
        display: flex;
        position: relative;
        min-width: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        padding: 10px 0;
        background-color: transparent;
        border-top: none;
        border-radius: 0 ;
        li {
            margin: 0;
        }
    }
    .hamburger {
        display: none;
    }
    article {
        flex-wrap: wrap;
        padding: 40px;
        .article_figure {
            width: 45%;
            height: auto;
        }
        .article_text {
            flex: 0 1 50%;
        }
        &.text_only .article_text,
        &.plain_html .article_text {
            flex: 0 1 100%;
        }
        &.text_only,
        &.center  {
            align-items: center;
        }
        &.above {
            flex-direction: initial;
            .article_text {
                flex: 0 1 100%;
            }
            .article_figure {
                width: auto;
                height: 45vh;
            }
        }
        &.below {
            flex-direction: initial;
            .article_text {
                flex: 0 1 100%;
                order: -1;
            }
            .article_figure {
                width: 45%;
                height: auto;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        &.in_text.float_right {
            display: block;
            .article_figure {
                display: inline;
                float: right;
                margin: 30px;
            }
            .article_text {
                display: inline;
                padding: 50px;
            }
        }
        &.in_text.float_left {
            display: block;
            .article_figure {
                display: inline;
                float: left;
                margin: 30px;
            }
            .article_text {
                display: inline;
                padding: 50px;
            }
        }




        &.beside_text_left {
            flex-direction: row;
            justify-content: space-between;
        }
        &.beside_text_right {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
}