<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>

    <header>
        <div class="align_nav">
            <h1><a id="title_link" href="#top"><f:cObject typoscriptObjectPath="lib.pageTitle" /></a></h1>
            <f:render partial="MainMenu" arguments="{_all}"/>
        </div>
    </header>
    <div id="nav_dumy"></div>
    <main id="main_wrapper">
        <f:render section="Main" />
    </main>

</f:spaceless>
</html>