<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
        xmlns:pgd="http://typo3.org/ns/PgDev/onepager/ViewHelper" 
        data-namespace-typo3-fluid="true">

    <f:layout name="Default"/>

    <f:spaceless>
        <f:section name="Main">
            
            <f:comment>render first page, upper level</f:comment>
            <div class="page">
                <a id="_{data.uid}"></a>
                <f:render partial="ContentElements" arguments="{content: first_page}" />
            </div>
            <f:comment>render subpages</f:comment>
            <f:for each="{sub_pages}" as="sub_page">
                <f:if condition="{sub_page.data.doktype} == 1 ">
                    <div class="page">
                        <h2 class="pageTitle">{sub_page.data.title}</h2>
                        <a id="<pgd:removeChar string2clean="{sub_page.data.slug}" char2remove="/" />_{sub_page.data.uid}" class="scroll_offset"></a>
                        <f:render partial="ContentElements" arguments="{content: sub_page.sub_page_contents}" />
                    </div>
                </f:if>
            </f:for>
            
        </f:section>
    </f:spaceless>
</html>